<div class="container">
    <h3>
        <b>Payments Information</b>
    </h3>
    <br/>
    <div class="row">
        <div class="col-md-12 mr-auto ml-auto">
            <h5>Create a contest that attracts the right Participants to your brief.</h5>
        </div>
        <div class="col-md-12 mr-auto ml-auto">
            <p>We've got the largest design community online so it's important to create a contest that attracts the kinds of
                designers you want to work on your brief.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mr-auto ml-auto">
            <h5>What contest package do you want?</h5>
        </div>
        <div class="col-md-12 mr-auto ml-auto">
            <p>All packages come with a 100% money-back guarantee and you own full copyright to the final work.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mr-auto ml-auto">
            <div class="card">
                <div class="card-header">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optradio">&nbsp;&nbsp; Silver - $140.00</label>
                    </div>
                </div>
                <div class="card-body">
                    <p>Our Silver package includes a bigger prize, so you’ll have more designs to choose from. Creative design
                        for less Expect ~15 designs Basic designer prize Skilled phone, email and chat support 100% money-back
                        guarantee
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mr-auto ml-auto">
            <div class="card">
                <div class="card-header">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optradio">&nbsp;&nbsp; Gold - $195.00</label>
                    </div>
                </div>
                <div class="card-body">
                    <p>Attract great designers and get priority support Your project will be shown to designers before silver
                        projects
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mr-auto ml-auto">
            <div class="card">
                <div class="card-header">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optradio">&nbsp;&nbsp; Platinum - $295.00</label>
                    </div>
                </div>
                <div class="card-body">
                    <p>Attract the best designers and receive one-on-one assistance Your project will be shown to designers
                        before bronze and silver projects A dedicated account manager will guide you to the best result possible</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mr-auto ml-auto">
            <div class="card">
                <div class="card-header">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optradio">&nbsp;&nbsp; Bronze - $10.00</label>
                    </div>
                </div>
                <div class="card-body">
                    <p>browns package</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mr-auto ml-auto">
            <div class="card">
                <div class="card-header">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optradio">&nbsp;&nbsp; Your Price $ </label>
                    </div>
                </div>
                <div class="card-body">
                    <input type="text" class="form-control" id="usr">
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 mr-auto ml-auto">
            <h5>How quickly do you need to complete your contest?</h5>
        </div>
        <div class="col-md-6 mr-auto ml-auto">
            <label>
                <input type="radio" name="optradio1">&nbsp;&nbsp; In 30 days ($50)
            </label>
        </div>
        <div class="col-md-6 mr-auto ml-auto">
            <label>
                <input type="radio" name="optradio1">&nbsp;&nbsp; In 360 days ($50)
            </label>
        </div>
    </div>
    <br/>
    <div class="row" style='text-align:left !important'>
        <div class="col-md-12 mr-auto ml-auto">
            <h5>How quickly do you need to complete your contest?</h5>
        </div>
        <div class="col-md-12 mr-auto ml-auto">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" checked="">Highlight Contest ($70)
                    <span class="form-check-sign"></span>
                </label>
            </div>
        </div>
        <div class="col-md-12 mr-auto ml-auto">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" checked="">Blind Contest ($80)
                    <span class="form-check-sign"></span>
                </label>
            </div>
        </div>
        <div class="col-md-12 mr-auto ml-auto">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" checked="">Private Contest ($90)
                    <span class="form-check-sign"></span>
                </label>
            </div>
        </div>
        <div class="col-md-12 mr-auto ml-auto">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" checked="">Featured Contest ($100)
                    <span class="form-check-sign"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mr-auto ml-auto">
            <h5>Total Cost : $ 450.00</h5>
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-md-12 mr-auto ml-auto">
            <ngb-tabset>
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <b>Credit & Debit Cards</b>
                    </ng-template>
                    <ng-template ngbTabContent>

                        <div class="card">
                            <div class="card-header">Payer Details</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">Email</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">Address</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">City</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">State</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">Country</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">Zip Code</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">Phone</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">Card Details</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">Card Number</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">Expire Date</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">Name on Card</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">CSV</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <b>Electronic Gateways</b>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="card">
                            <div class="card-header">Payer Details</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">Email</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">Address</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">City</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">State</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">Country</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">Zip Code</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">Phone</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <b>Manual / Offline</b>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="card">
                            <div class="card-header">Payer Details</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">Email</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">Address</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">City</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">State</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">Country</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">Zip Code</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">Phone</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <b>Wallet</b>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="card">
                            <div class="card-header">Payer Details</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">Email</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">Address</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">City</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">State</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">Country</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">Zip Code</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6 mr-auto ml-auto">Phone</div>
                                    <div class="col-md-6 mr-auto ml-auto">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
    <br/>
    <div class="row">
            <div class="col-md-6 mr-auto ml-auto"></div>
            <div class="col-md-6 mr-auto ml-auto">
                    <a style='color:#FFFFFF' class="btn btn-danger btn-round btn-area">Proceed Payment</a>
            </div>
        </div>
</div>