<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a  [routerLink]="['/terms']">Terms And Conditions</a></li>
                    <li><a>FAQ</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, 360contest.com. All rights reserved.
                </span>
            </div>
        </div>
    </div>
</footer>
