<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/home']">
                <!-- <img src='./assets/img/logo.png'> -->
                Hackothan Online
            </a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02"
                aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/post-contest']">
                        <i class="nc-icon nc-paper"></i> Post Your Contest</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/browse-contest']" class="nav-link">
                        <i class="nc-icon nc-zoom-split"></i> Browse Contest</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/how-works']" class="nav-link">
                        <i class="nc-icon nc-key-25"></i> How it Works?</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/contact-us']" class="nav-link">
                        <i class="nc-icon nc-book-bookmark"></i> Contact Us</a>
                </li>
                <li class="nav-item">
                        <div *ngIf='user' style='margin:0px;padding:0px;' ngbDropdown class="d-inline-block dropdown">
                                <a class="nav-link" style='margin:0px;padding:0px;' id="dropdownBasic1" ngbDropdownToggle>
                                        <img  src="{{ user.photoUrl }}" alt="Rounded Image" class="img-rounded img-responsive" style="width: 58%;margin: 3px;">
                                </a>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                                    <a class="dropdown-item" [routerLink]="['/user-profile']">Profile</a>
                                    <a class="dropdown-item" (click)='signOut()'>Log Out</a>
                                </div>
                            </div>
                    
                    <a *ngIf='!user' [routerLink]="['/signup']" class="nav-link">
                        <i class="nc-icon nc-circle-10"></i> Sign in</a>
                </li>
            </ul>
        </div>
    </div>
</nav>