<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/ilya-yakover.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1>Best contest marketplace software from Agriya Labs</h1>
                    <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                </div>

                <h2 class="presentation-subtitle text-center">your image & video contests site. Crowdsource instantly.</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">© 2018 360contest.com. All rights reserved.</h6>
    </div>
    <div class="main">
        <div class="section">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Agriya® Solutions</h2>
                        <p class="description">Incase if you don't know... for years, Agriya® doesn't just sell products, but offers multiple solutions
                            and services.</p>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-4 download-area ml-auto mr-auto">
                        <div class="card">
                            <div class="card-body">
                                <h3>Micro Entrepreneur Solutions</h3>
                                <p>Expert consultation</p>
                                <p>Ideation</p>
                                <p>Pivoting consultation</p>
                                <p>MVP</p>
                                <p>Marketing strategy</p>
                                <p>Hosting consultation</p>
                                <p>Server management</p>
                                <p>Leads to likeminded startupers</p>
                                <p>PR (Public Relation)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 download-area ml-auto mr-auto">
                        <div class="card">
                            <div class="card-body">
                                <h3>SME Solutions</h3>
                                <p>Search Engine Optimization (SEO)</p>
                                <p>Social media marketing</p>
                                <p>Server management</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 download-area ml-auto mr-auto">
                        <div class="card">
                            <div class="card-body">
                                <h3>Enterprise Solutions</h3>
                                <p>Big data</p>
                                <p>Machine Learning (ML)</p>
                                <p>Artificial Intelligence (AI)</p>
                                <p>Recommendation Engine</p>
                                <p>Data Analytics</p>
                                <p>Hadoop, Mahout</p>
                                <p>Business Process Outsourcing (BPO)</p>
                                <p>Payment processing</p>
                                <p>Financial solutions</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Agriya® 360 Contest Advantages</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ml-auto mr-auto text-center">
                        <p>Made in ISO 9001-2008 certified and NASSCOM® listed company</p>
                        <p>First and complete contest software</p>
                        <p>Available Resources: Image, Video, Audio & text</p>
                        <p>Has many revenue options</p>
                    </div>
                    <div class="col-md-4 ml-auto mr-auto text-center">
                        <p>Multilingual support</p>
                        <p>With MVC and plugin based architecture</p>
                        <p>Growth hacking plugin for improving user growth</p>
                        <p> High performance and cloud ready</p>
                    </div>
                    <div class="col-md-4 ml-auto mr-auto text-center">
                        <p>Mobile friendly</p>
                        <p>Streamlined workflow and hence no maintenance headaches</p>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <img src='http://360contest.demo.agriya.com/img/certified-logo.png' alt='image'>
                    </div>
                    <div class="col-md-6 ml-auto mr-auto text-center">
                        <img src='http://360contest.demo.agriya.com/img/nasscom.png' alt='image'>
                    </div>
                </div>
            </div>
        </div>


        <div class="section">
            <div class="container text-center">
                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3>Follow us on!</h3>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a href="#pablo" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a href="#pablo" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-google-plus"></i> Google
                        </a>
                        <a href="#pablo" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-facebook-square"></i> Facebook
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>